# My document
docs
CLAUDE.md

# Enviorment
.env

# Data & artifacts nặng
*.duckdb
minio_data/             # volume MinIO
ingestion/state.json
data/

# Python rác
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.ruff_cache/

# OS / IDE
.DS_Store
.vscode/
.idea/

# dbt
dbt/target
logs/