# Ingestion & Lakehouse
trino==0.338.0
pyiceberg[s3fs]==0.11.1     # read and write table iceberg from python
psycopg[binary]==3.3.4      # connect to postgres
pymongo==4.17.0             # source mongo
faker==40.28.1              # generate mock data

# Transform & quality
dbt-trino==1.10.2           # dbt run on trino
soda-core-trino==3.5.6
setuptools<81               # soda-core 3.5.6 chưa tương thích setuptools>=81
dbt-core==1.11.12

# Dev
ruff==0.15.20

# Df
pandas==3.0.3
pyarrow==25.0.0

# env
python-dotenv==1.2.2
